<ion-view view-title="Filho" ng-controller="ChildrenController as vm">
   
  <ion-header-bar class="bar-purple">
    <ion-nav-bar class="bar-purple">
      <ion-nav-buttons side="left">
        <a href="#/children/adm" class="button button-purple">Cancelar</a>
      </ion-nav-buttons>
      <h1 class="title">Filho</h1>
      <ion-nav-buttons side="right">
        <a href="#/children/adm" class="button button-purple">Salvar</a>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-header-bar>

  <ion-pane>
    <ion-content>
      
      <div class="area-lead-text">
        <i class="icon ion-person padding-right"></i>
        <span>{{vm.child.title == null || vm.child.title == '' ? 'Informe o nome' : vm.child.title}}</span>
      </div>
        
      <form>
          <div class="area-form-init text-center">

              <div class="list mb20" can-swipe>
                  
                  <label class="item item-input">
                      <input type="text" placeholder="Nome" ng-model="vm.child.title">
                  </label>

                  <label class="item item-input item-select">
                    <div class="input-label text-left">
                      Idade
                    </div>
                    <select>
                      <option ng-repeat="age in vm.childAgeRange">{{age}}</option>
                    </select>
                  </label>

                  <label class="item item-input item-select">
                    <div class="input-label text-left">
                      Sexo
                    </div>
                    <select>
                      <option value="0">Selecione</option>
                      <option value="1">Masculino</option>
                      <option value="2">Feminino</option>
                    </select>
                  </label>
                  
                  <label class="item item-divider">
                    Situa&#231;&#227;o
                  </label>

                  <ion-toggle ng-model="vm.child.status" class="text-left" toggle-class="toggle-positive">Dispon&#237;vel no Sistema</ion-toggle>
              </div>
          </div>
        </form>  
    </ion-content>
  </ion-pane>
</ion-view>  
