<ion-modal-view>
    <ion-content>
        <div class="area-main-text">
            <h1>Informe seu email</h1>
        </div>
        <div class="area-lead-text text-center mb30">
            <!-- -->
        </div>

       <div class="area-form-init text-center">
            <div class="list list-form-login mb10">
                <label class="item item-input round">
                    <i class="icon ion-email placeholder-icon positive"></i>
                    <input type="email" placeholder="E-mail" class="email">
                </label>
            </div>

            <div class="mb10">
                <a href="javascript:;" ng-click="vm.sendPassword()" class="button button-big button-positive">Prosseguir</a>
            </div>

            <div class="text-center mb20">
                <a href="javascript:;" ng-click="vm.closeModal()" class="button button-big button-outline button-assertive">Cancelar</a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>