<ion-view view-title="Termos de Uso">
  <ion-header-bar>
        <ion-nav-bar class="bar-purple">
            <ion-nav-back-button class="button-clear">
                <i class="ion-ios-arrow-back"></i> Voltar
            </ion-nav-back-button>
        </ion-nav-bar>
    </ion-header-bar>
    <ion-content class="padding">


        <h2 class="text-center">TERMO DE USO DA PLATAFORMA</h2>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget velit velit. Cras porttitor dolor est, et sollicitudin dolor posuere et. Donec sodales nisl vitae laoreet mollis. In hac habitasse platea dictumst. Nunc vestibulum lorem magna, ut ullamcorper urna blandit id. Sed ut vestibulum nibh. Integer scelerisque vel erat sit amet molestie. Suspendisse suscipit egestas elit, id efficitur odio lobortis eget. Curabitur ac tellus mauris. Sed sit amet dui dolor. Nulla vehicula blandit mi, vestibulum luctus orci lobortis vitae. Vestibulum dignissim quis libero sit amet vehicula. Quisque id neque sed sapien pharetra mattis. Etiam mattis laoreet euismod.
        </p>
        In tristique massa eget lectus cursus, nec semper dui varius. Nulla rhoncus ex sed accumsan congue. Morbi dolor turpis, blandit ut scelerisque id, aliquet id nisi. Nullam auctor, enim at lacinia sollicitudin, nulla risus sollicitudin eros, et porta metus arcu et ipsum. Donec ullamcorper ligula tellus, sit amet dictum nisl lacinia vel. Etiam facilisis condimentum leo et varius. Donec pharetra ex ut nulla dapibus congue.
        </p>

    </ion-content>
</ion-view>
