<ion-view view-title="Init" ng-controller="AccountController as vm">
    <ion-content>
        <div class="area-logo-init">
            <img src="img/logo.svg" class="logo-init" onerror="this.onerror=null; this.src='logo.png'">
        </div>
        <form>
            <div class="area-form-init text-center">

                <div class="list list-form-login mb10">
                    <label class="item item-input round-top">
                        <i class="icon ion-email placeholder-icon positive"></i>
                        <input type="email" placeholder="E-mail" class="email">
                    </label>

                    <label class="item item-input round-bottom">
                        <i class="icon ion-locked placeholder-icon positive"></i>
                        <input type="password" placeholder="Password" class="password">
                    </label>
                </div>

                <div class="mb10">
                    <a href="#/home" class="button button-big button-positive">Acessar</a>
                </div>

                <div class="text-center mb20">
                    <a href="javascript:;" ng-click="vm.forgetPassword()" class="link">Esqueci minha senha</a>
                    <br />
                    <br />
                    <a href="#/activities" class="assertive">TESTE: entrar como filho</a>
                </div>
            </div>
        </form>
    </ion-content>

    <div class="bar bar-footer area-main-text padding">
        <span>N&#227;o possui cadastro?</span>
        <a href="#account" class="padding-left"><strong>Registrar</strong></a>
    </div>
</ion-view>
