<ion-view view-title="Mais">
    <ion-pane>
        <ion-header-bar class="bar-purple">
            <h1 class="title">Mais</h1>
        </ion-header-bar>
        <ion-content class="mb30">
            
            <ion-list>
                
                <ion-item class="item-divider">
                    Configura&#231;&#227;o
                </ion-item>

                <a href="#/activities/adm" class="item item-icon-left item-icon-right positive">
                    <i class="icon ion-clipboard"></i>Atividades
                    <i class="icon ion-ios-arrow-right pull-right"></i>
                </a>

                <a href="#/rewards/adm" class="item item-icon-left item-icon-right positive">
                    <i class="icon ion-trophy"></i>Recompensas
                    <i class="icon ion-ios-arrow-right pull-right"></i>
                </a>

                <a href="#/children/adm" class="item item-icon-left item-icon-right positive">
                    <i class="icon ion-ios-people"></i>Filhos
                    <i class="icon ion-ios-arrow-right pull-right"></i>
                </a>

                <a href="#/schedule/adm" class="item item-icon-left item-icon-right positive">
                    <i class="icon ion-clock"></i>Programa&#231;&#227;o
                    <i class="icon ion-ios-arrow-right pull-right"></i>
                </a>

                <ion-item class="item-divider">
                    Mais Taskids
                </ion-item>

                <a href="#/faq" class="item item-icon-left item-icon-right positive">
                    <i class="icon ion-ios-help-outline"></i>D&#250;vidas Frequentes
                    <i class="icon ion-ios-arrow-forward pull-right"></i>
                </a>
                
                <a href="#/terms" class="item item-icon-left item-icon-right positive">
                    <i class="icon ion-ios-paper-outline"></i>Termos de Uso
                    <i class="icon ion-ios-arrow-right pull-right"></i>
                </a>

                <a href="#/tips" class="item item-icon-left item-icon-right positive">
                    <i class="icon ion-ios-color-wand-outline"></i>Dicas
                    <i class="icon ion-ios-arrow-right pull-right"></i>
                </a>

                <ion-item class="item-divider">
                    &nbsp;
                </ion-item>

                <a href="javascript:;" class="item item-icon-left item-icon-right positive">
                    <i class="icon ion-ios-chatboxes-outline"></i>Fale Conosco
                    <i class="icon ion-ios-arrow-right pull-right"></i>
                </a>

                <a href="#/init" class="item item-icon-left item-icon-right positive">
                    <i class="icon ion-ios-close"></i>Sair
                    <i class="icon ion-ios-arrow-right pull-right"></i>
                </a>

                <ion-item class="item-divider">
                    &nbsp;
                </ion-item>

            </ion-list>

        </ion-content>
    </ion-pane>
</ion-view>